<!doctype html>
<html>

<head>
  <title>Мурашина ферма</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="static/css/flexbox.css">
  <!-- <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="static/fontawesome/css/all.css"> -->

</head>

<body>
  <div class="content">
    <div class="display-stream">
      <!-- <div id="fullScreen" style="background:black; width:auto; height:auto; position: relative"> -->
      <img id="badge" width="854px;" height="480px;" />
     

      <!-- </div> -->

    </div>
 <div>
    <button id="start-preview" type="button" onClick="startPreview();" class="btn btn-outline-primary">
      Start
    </button>
    <button id="stop-preview" type="button" onClick="stopPreview();" class="btn btn-outline-primary" disabled>
      Stop
    </button>
    <button id="stop-preview" type="button" onClick="onFullScreen();" class="btn btn-outline-primary">
      Full
    </button>
    <button id="videoResolution" type="button" onClick="showSettingsModel()">
      Settings
    </button>
  </div>

    <div id="model-settings" hidden>
      <div class="additional">
        <div class="display-stream-block">


          <select>
            <option value="720">720 HD</option>
            <option value="480" selected>480</option>
            <option value="240">240</option>
          </select>

        </div>
        <div class="stream-block">
          <button id="start-stream" type="button" onClick="startStream();" class="btn btn-outline-primary">
            Start stream
          </button>
          <select style="width:15%; display:inline-block" class="custom-select " id="resolutionStream"
            aria-label="Example select with button addon">

            <option value="720">720 HD</option>
            <option value="480" selected>480</option>
            <option value="240">240</option>
          </select>
          <button id="stop-stream" type="button" onClick="stopStream();" class="btn btn-outline-danger" disabled>
            <div id="blinkingStream"></div>
            Stop
          </button>

          <button type="button" class="btn btn-outline-primary" onClick="getStreamSettings();" data-toggle="modal"
            data-target="#settingsStream">
            Settings
          </button>
        </div>


        <div class="record-block">
          <input id="start-record-input" type="text" class="form-control" placeholder="Name of video"
            aria-describedby="button-addon4">
          <select style=" display:inline-block" class="custom-select " id="resolutionRecord"
            aria-label="Example select with button addon">
            <option value="720">720 HD</option>
            <option value="480" selected>480</option>
            <option value="240">240</option>
          </select>
          <button id="start-record" class="btn btn-outline-primary" type="button" onclick="startRecord()" disabled>
            Start record
          </button>

          <button id="stop-record" class="btn btn-outline-danger" type="button" onclick="stopRecord()" disabled>
            <div id="blinkingRecord"></div>
            <div id="stopWatch"><time>00:00:00</time></div>
            Stop
          </button>

        </div>

        <div class="image-block">
          <input id="capture-input" type="text" class="form-control" placeholder="Name of image"
            aria-describedby="button-addon4">
          <select style=" display:inline-block" class="custom-select " id="resolutionImage"
            aria-label="Example select with button addon">

            <option value="720">1280x720</option>
            <option value="480" selected>854x480</option>
            <option value="240">426x240</option>
          </select>
          <button id="capture-image" onClick="captureImage()" class="btn btn-outline-primary" type="button" disabled>
            Take a photo
          </button>
          <button type="button" onClick="getVideoFiles();" class="btn btn-primary " data-toggle="modal"
            data-target="#displayListVideos">
            </i> Mediafiles
          </button>
          <span id="alertBlock"></span>
        </div>
        <div>
          <button type="button" onclick="shutdownPi()">Shutdown</button>
          <button type="button" onclick="rebootPi()">Reboot</button>
        </div>


      </div>
    </div>

    <!-- ------------------------------------------------------------------------- -->

    <!-- <script src="static/jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="static/jquery/popper.min.js"></script> -->
    <!-- <script src="static/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="static/js/helper.js"></script>
    <script src="static/js/timer.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/sendResolution.js"></script>
    <script>
      startPreview()


      window.addEventListener("focus", handleBrowserState.bind(this, true));
      window.addEventListener("blur", handleBrowserState.bind(this, false));

      function handleBrowserState(isActive) {
        if (isActive) {

          setTimeout(function () {
            startPreview()
            console.log("Focus");
          }, 3000)
          // page has focus, begin running task
        } else {
          setTimeout(
            function () {
              stopPreview()
              console.log("No focus");
            }, 1000
          )


        }
      }

      // document.addEventListener('visibilitychange', function () {
      //   if (document.hidden) {
      //     setTimeout(
      //       function(){
      //         stopPreview()
      //         document.getElementById("checker").innerHTML="No focus"
      //     console.log("No focus");
      //       },2000
      //     )


      //   } else {
      //     // page has focus, begin running task
      //     setTimeout(function() {
      //       startPreview()
      //       console.log("Focus");
      //       document.getElementById("checker").innerHTML="Focus"
      //     },5000)

      //   }
      // })



        // setTimeout(autoStart, 5000)
        // function autoStart(){
        //   onFullScreen()
        // // startPreview()
        // }

    </script>
</body>

</html>